<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card addProducts-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="assets/images/products.png" alt="addProducts" class="addProducts-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <p class="addProducts-card-description">Add Products</p>
              <form >
                <div class="form-group">
                  <label for="prodImage" class="sr-only">ProdImage</label>
                  <input type="text" formControlName="prodImage" class="form-control" placeholder="prodImage">
                </div>
                <div class="form-group">
                  <label for="prodName" class="sr-only">ProdName</label>
                  <input type="text" formControlName="prodName" class="form-control" placeholder="prodName">
                </div>
                <div class="form-group">
                  <label for="proddesc" class="sr-only">Description</label>
                  <input type="text" formControlName="proddesc" class="form-control" placeholder="proddesc">
                </div>
                  <input name="addProducts" id="addProducts" routerLink="/dashboard/products" class="btn btn-block addProducts-btn mb-4" type="submit" value="Add Products">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
