<header class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a><img src="../../assets/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <ul class="navbar-nav mr-auto"></ul>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <form class="form-inline my-2 my-lg-0">
           <a class="navbar-brand" routerLink="/dashboard/users">Users</a>
           <a class="navbar-brand" routerLink="/dashboard/products">Products</a>
           <a class="navbar-brand" routerLink="/dashboard/my-profile">MyProfile</a>
           <a class="navbar-brand" routerLink="/">Log-Out</a>
          </form>
          </div>
      </nav>
</header>
