<section class="container-fluid img11">
    <div class="d-flex justify-content-center row space2">
        <div class="col-md-3">
          <h4 >Address Info</h4>
          <p>99 NY Adress street, Bronk</p>
          <p>center Brooklyn</p>
          <p>United States</p>
          <p>CA Wel628</p>
        </div>
        <div class="col-md-3">
            <h4 class="h4l">Contact Info</h4>
            <p>+1 245 312 45245</p>
            <p>+01 00 2451 31245</p>
            <p>info@reflex.com</p>
        </div>   
        <div class="col-md-3">
            <h4>Contact Us</h4>
            <input class="form-control" type="text" placeholder="Full Name">
            <input class="form-control" type="email" placeholder="Email">
        </div>
        <div class="col-md-3">
            <input class="textbox1" type="text" placeholder="Message">
            <button class="button2" type="button">Send</button>
        </div>
    </div>  
</section>
 <footer class="fooo">copyright @ multi hospital 2020  All right reserved.privacy policy.</footer>

