
<section class="container-fluid img">
    <p class="text"><span>Multus Medical</span> specializes in creating patient-specific 3D models</p>
    <button class="button" type="button">Schedule a Meeting</button>
</section>

<section class="container-fluid box">
    <h6>WELCOME TO MULTUS</h6>
    <h3>We are Best <span class="medborder">Med</span>ical Hospital</h3>
    <p class="text1">Multus medical specializes in creating patient-specific medical models.<br>We use patients MRI scan data to accurately generated 3-D representation of patients patient-specific. </p>
    <figure class="d-flex justify-content-center ">
        <img src="../../assets/images/about-01.jpg">
        <img src="../../assets/images/about-02.jpg">
        <img src="../../assets/images/about-03.jpg">
    </figure>
</section>

<section class="container-fluid box1">
    <h6>OUR BENIFITS</h6>
    <h3>Benifit<span class="medborder">s we</span> Provide</h3>
    <p class="text1">Multus medical specializes in creating patient-specific medical models We use patients MRI scan data <br>to accurately generated 3-D representation of patients patient-specific. </p>
    <div class="row imgposition1">
    <div class="col-md-4 img1">
        <h4>Benifits for Attorneys</h4>
        <ul>
            <li>No-cost-3D rendring is part of MRI charge</li>
            <li>Clear demonstration of the injury</li>
            <li>Sellte quicker & better</li>
            
        </ul>
    </div> 
    <div class="col-md-4 img2">
        <h4>Benifits for Physicians</h4>
        <ul>
            <li>No-cost</li>
            <li>Patient education</li>
            <li>promotes appropriate care</li>
            <li>No-cost-3D rendring is part of MRI charge</li>
            <li>Clear demonstration of the injury</li>
            <li>Sellte quicker & better</li>
        </ul>
    </div> 
    <div class="col-md-4 img3">
        <h4>MRI Facilities</h4>
        <ul>
            <li>Complete advantage</li>
            <li>Clear demonstration of the injury</li>
            <li>Incries revenue</li>
        </ul>
    </div>
    </div>
</section>