<app-header></app-header>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email address</th>
        <th scope="col">Update/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users"> 
        <th scope="row">{{user._id }}</th>
        <td>{{user.firstName }}</td>
        <td>{{user.lastName }}</td>
        <td>{{user.email }}</td>
        <td><button routerLink="/dashboard/add-user" class="btn btn-warning">Edit</button> &nbsp;
        <button routerLink="/dashboard/users" class="btn btn-danger" (click)="deleteUser(user._id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <button routerLink="/dashboard/add-user" class="btn1">Add Users</button>
<app-footer></app-footer>